---
import "@/styles/main.scss";

import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import BaseHead from "@/partials/BaseHead.astro";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import { footerConfig } from "@/config/FooterConfig";
import { headerConfig } from "@/config/HeaderConfig";
import SearchModal from "@/layouts/helpers/SearchModal";
import InvitationModal from "@/layouts/helpers/InvitationModal";
import BasicScripts from "@/layouts/BasicScripts.astro";
import { Toaster } from "@/components/ui/sonner";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatters
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      meta_title={meta_title}
      description={description}
      image={image}
      noindex={noindex}
      canonical={canonical}
    />
    
    <!-- 初始化脚本 -->
    <script type="module" src="/src/pages/init-invite-modal.js"></script>
  </head>
  
  <body>
    <TwSizeIndicator />

    <!-- disable showRssFeed showSearch -->
    <Header
      {...headerConfig}
      isSticky
      showSearch
      showToggleTheme
      showTwitter
      showGithub
    />

    <SearchModal client:visible />
    <InvitationModal client:load />
    <!-- 邀请函模态框容器 -->
    <div id="invitation-modal-container"></div>

    <main id="main-content">
      <slot />
    </main>

    <Footer {...footerConfig} />

    <Toaster
      className="mt-14"
      position="top-right"
      richColors
      client:load
    />

    <BasicScripts />
  </body>
</html>